<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>SistemaLangostineraUNT</display-name>
	
	<servlet>
		<servlet-name>ControlaGrupo</servlet-name>
		<display-name>ControlaGrupo</display-name>
		<description></description>
		<servlet-class>controladores.ControlaGrupo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlaBien</servlet-name>
		<display-name>ControlaBien</display-name>
		<description></description>
		<servlet-class>controladores.ControlaBien</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlaIngresoAlmacen</servlet-name>
		<display-name>ControlaIngresoAlmacen</display-name>
		<description></description>
		<servlet-class>controladores.ControlaIngresoAlmacen</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlaLogin</servlet-name>
		<display-name>ControlaLogin</display-name>
		<description></description>
		<servlet-class>controladores.ControlaLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlaCrianza</servlet-name>
		<display-name>ControlaCrianza</display-name>
		<description></description>
		<servlet-class>controladores.ControlaCrianza</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlaEspecie</servlet-name>
		<display-name>ControlaEspecie</display-name>
		<description></description>
		<servlet-class>controladores.ControlaEspecie</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlaGranja</servlet-name>
		<display-name>ControlaGranja</display-name>
		<description></description>
		<servlet-class>controladores.ControlaGranja</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlaEstanque</servlet-name>
		<display-name>ControlaEstanque</display-name>
		<description></description>
		<servlet-class>controladores.ControlaEstanque</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlaMaquina</servlet-name>
		<display-name>ControlaMaquina</display-name>
		<description></description>
		<servlet-class>controladores.ControlaMaquina</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlaPersona</servlet-name>
		<display-name>ControlaPersona</display-name>
		<description></description>
		<servlet-class>controladores.ControlaPersona</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlaRegistroDiario</servlet-name>
		<display-name>ControlaRegistroDiario</display-name>
		<description></description>
		<servlet-class>controladores.ControlaRegistroDiario</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlaRegistroSemanal</servlet-name>
		<display-name>ControlaRegistroSemanal</display-name>
		<description></description>
		<servlet-class>controladores.ControlaRegistroSemanal</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReporteDiario</servlet-name>
		<display-name>ReporteDiario</display-name>
		<description></description>
		<servlet-class>controladores.ReporteDiario</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReporteSemanal</servlet-name>
		<display-name>ReporteSemanal</display-name>
		<description></description>
		<servlet-class>controladores.ReporteSemanal</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultaDni</servlet-name>
		<display-name>ConsultaDni</display-name>
		<description></description>
		<servlet-class>controladores.ConsultaDni</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlaUsuario</servlet-name>
		<display-name>ControlaUsuario</display-name>
		<description></description>
		<servlet-class>controladores.ControlaUsuario</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultaEstanque</servlet-name>
		<display-name>ConsultaEstanque</display-name>
		<description></description>
		<servlet-class>controladores.ConsultaEstanque</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultaTipoCrianza</servlet-name>
		<display-name>ConsultaTipoCrianza</display-name>
		<description></description>
		<servlet-class>controladores.ConsultaTipoCrianza</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultaTipoPersonal</servlet-name>
		<display-name>ConsultaTipoPersonal</display-name>
		<description></description>
		<servlet-class>controladores.ConsultaTipoPersonal</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GraficaParametros</servlet-name>
		<display-name>GraficaParametros</display-name>
		<description></description>
		<servlet-class>controladores.GraficaParametros</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReporteProduccion</servlet-name>
		<display-name>ReporteProduccion</display-name>
		<description></description>
		<servlet-class>controladores.ReporteProduccion</servlet-class>
	</servlet>
			
	<servlet-mapping>
		<servlet-name>ControlaGrupo</servlet-name>
		<url-pattern>/ControlaGrupo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlaBien</servlet-name>
		<url-pattern>/ControlaBien</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlaIngresoAlmacen</servlet-name>
		<url-pattern>/ControlaIngresoAlmacen</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlaLogin</servlet-name>
		<url-pattern>/ControlaLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlaCrianza</servlet-name>
		<url-pattern>/ControlaCrianza</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlaEspecie</servlet-name>
		<url-pattern>/ControlaEspecie</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlaGranja</servlet-name>
		<url-pattern>/ControlaGranja</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlaEstanque</servlet-name>
		<url-pattern>/ControlaEstanque</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlaMaquina</servlet-name>
		<url-pattern>/ControlaMaquina</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlaPersona</servlet-name>
		<url-pattern>/ControlaPersona</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlaRegistroDiario</servlet-name>
		<url-pattern>/ControlaRegistroDiario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlaRegistroSemanal</servlet-name>
		<url-pattern>/ControlaRegistroSemanal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteDiario</servlet-name>
		<url-pattern>/ReporteDiario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteSemanal</servlet-name>
		<url-pattern>/ReporteSemanal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaDni</servlet-name>
		<url-pattern>/ConsultaDni</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlaUsuario</servlet-name>
		<url-pattern>/ControlaUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaEstanque</servlet-name>
		<url-pattern>/ConsultaEstanque</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaTipoCrianza</servlet-name>
		<url-pattern>/ConsultaTipoCrianza</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaTipoPersonal</servlet-name>
		<url-pattern>/ConsultaTipoPersonal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GraficaParametros</servlet-name>
		<url-pattern>/GraficaParametros</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteProduccion</servlet-name>
		<url-pattern>/ReporteProduccion</url-pattern>
	</servlet-mapping>
		
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
